.main {
  display: flex;
  /* height: 90vh; */
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
}

.main_banner {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 300px;
  border: 1px solid gray;
  margin-top: 50px;
}

.main_banner_text {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* position: absolute;
    top: 50%; */
}

.footer {
  display: block;
  text-align: center;
  background-color: gray;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
