.marketerList {
  display: flex;
  width: 100vw;
  max-width: 1170px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.listItem {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 260px;
  border: 1px solid #e8e8e8;
}

.header_content {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  max-width: 1170px;
  height: 60px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  /* background-image: url("./header.png"); */
  background: #ffffff;
}

.header_user:hover {
  color: black;
  text-decoration: underline;
}
.header_user {
  color: black;
  cursor: pointer;
}

.header {
  background-color: #fff;
}

.header_wrap {
  height: 40px;
  max-width: 1170px;
  width: 1170px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

html {
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}
