.marketerList {
  display: flex;
  width: 100vw;
  max-width: 1170px;
  flex-direction: row;
  justify-content: space-between;
}

.listItem {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 250px;
  /* align-items: center; */
  /* justify-content: space-around; */
  /* padding: 10px; */
  border: 1px solid gray;
}

.header {
  display: flex;
  background-color: #f8f8f8;
  width: 100vw;
  max-width: 1170px;
  height: 80px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: block;
  text-align: center;
  background-color: gray;
}
