.marketerList {
  display: flex;
  width: 100vw;
  max-width: 1170px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.listItem {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 260px;
  /* align-items: center; */
  /* justify-content: space-around; */
  /* padding: 10px; */
  border: 1px solid #e8e8e8;
}

.header {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  /* max-width: 1170px; */
  height: 70px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  background-image: url("./header.png");
}

/* .footer {
  display: block;
  text-align: center;
  background-color: gray;
} */
